<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <!-- 
    if  your are use html file use (-)
    if you are use in javascript code (=)
    -->
    <%- include('common/header')%>
    <h1>login</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptate ipsa
      itaque, facere quia optio nam porro. Officiis sequi, alias odio cupiditate
      tenetur voluptas veritatis incidunt blanditiis fuga ipsam voluptate.
    </p>
  </body>
</html>
